infrastructure/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Sift — API Gateway, C# Lambda functions, and Python document pipeline

Parameters:
  Env:
    Type: String
    AllowedValues: [dev, prod]
    Default: dev
  SamBucket:
    Type: String
    Description: S3 bucket for SAM artifacts (created by bootstrap.sh)

Globals:
  Function:
    Runtime:      dotnet8
    MemorySize:   512
    Timeout:      30
    Environment:
      Variables:
        DB_SECRET_ARN:  !ImportValue
          Fn::Sub: sift-${Env}-DBSecretArn
        DB_HOST:        !ImportValue
          Fn::Sub: sift-${Env}-DBEndpoint
        DB_PORT:        !ImportValue
          Fn::Sub: sift-${Env}-DBPort
        DB_NAME:        sift
        UPLOADS_BUCKET: !Sub sift-uploads-${Env}-${AWS::AccountId}
        AWS_REGION_NAME: !Ref AWS::Region

Resources:

  # ── S3 Uploads Bucket ─────────────────────────────────────────────────────────

  UploadsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub sift-uploads-${Env}-${AWS::AccountId}
      CorsConfiguration:
        CorsRules:
          - AllowedMethods: [GET, PUT]
            AllowedOrigins: ['*']
            AllowedHeaders: ['*']
            MaxAge: 3000
      LifecycleConfiguration:
        Rules:
          - Id: delete-failed-uploads
            Status: Enabled
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 1
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true

  # ── API Gateway HTTP API ──────────────────────────────────────────────────────

  HttpApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: !Ref Env
      Auth:
        DefaultAuthorizer: CognitoJwtAuthorizer
        Authorizers:
          CognitoJwtAuthorizer:
            IdentitySource: $request.header.Authorization
            JwtConfiguration:
              issuer: !Sub
                - https://cognito-idp.${AWS::Region}.amazonaws.com/${UserPoolId}
                - UserPoolId: !ImportValue
                    Fn::Sub: sift-${Env}-UserPoolId
              audience:
                - !ImportValue
                    Fn::Sub: sift-${Env}-UserPoolClientId
      CorsConfiguration:
        AllowOrigins: ['*']
        AllowHeaders: ['Content-Type', 'Authorization']
        AllowMethods: ['GET', 'POST', 'PUT', 'DELETE', 'OPTIONS']

  # ── IAM Role for Lambda ───────────────────────────────────────────────────────

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub sift-lambda-${Env}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SiftLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !ImportValue
                  Fn::Sub: sift-${Env}-DBSecretArn
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                Resource: !Sub arn:aws:s3:::sift-uploads-${Env}-${AWS::AccountId}/*
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/amazon.titan-embed-text-v2:0
                  - !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/us.anthropic.claude-haiku-4-5-20251001-v1:0

  # ── Lambda Functions ──────────────────────────────────────────────────────────

  DocumentsFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      FunctionName: !Sub sift-documents-${Env}
      CodeUri: ../backend/src/Sift.Api/
      Handler: bootstrap::Sift.Api.Functions.DocumentsFunction::FunctionHandler
      Architectures: [x86_64]
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        ListDocuments:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: GET
            Path: /documents
        UploadUrl:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: POST
            Path: /documents/upload-url
        GetDocument:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: GET
            Path: /documents/{id}
        DeleteDocument:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: DELETE
            Path: /documents/{id}

  ChatFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      FunctionName: !Sub sift-chat-${Env}
      CodeUri: ../backend/src/Sift.Api/
      Handler: bootstrap::Sift.Api.Functions.ChatFunction::FunctionHandler
      Architectures: [x86_64]
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 60
      Events:
        Chat:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: POST
            Path: /chat

  TenantFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: makefile
    Properties:
      FunctionName: !Sub sift-tenant-${Env}
      CodeUri: ../backend/src/Sift.Api/
      Handler: bootstrap::Sift.Api.Functions.TenantFunction::FunctionHandler
      Architectures: [x86_64]
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        SyncUser:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: POST
            Path: /tenants/me/sync
        GetTenant:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: GET
            Path: /tenants/me
        ListUsers:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: GET
            Path: /tenants/users
        UpdateUserRole:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Method: PUT
            Path: /tenants/users/{id}/role

  # ── Pipeline: Shared Lambda Layer ────────────────────────────────────────────

  PipelineSharedLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Sub sift-pipeline-shared-${Env}
      ContentUri: ../backend/pipeline/layers/shared/
      CompatibleRuntimes: [python3.12]
      CompatibleArchitectures: [x86_64]
      RetentionPolicy: Delete
    Metadata:
      BuildMethod: makefile

  # ── Pipeline: Python Lambda Functions ────────────────────────────────────────

  ExtractTextFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub sift-extract-${Env}
      CodeUri: ../backend/pipeline/extract/
      Handler: extract_handler.handler
      Runtime: python3.12
      Architectures: [x86_64]   # psycopg2-binary ships x86_64 wheels
      MemorySize: 1024
      Timeout: 120
      Layers: [!Ref PipelineSharedLayer]
      Environment:
        Variables:
          DB_SECRET_ARN:  !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
          DB_HOST:        !ImportValue { Fn::Sub: "sift-${Env}-DBEndpoint" }
          DB_PORT:        !ImportValue { Fn::Sub: "sift-${Env}-DBPort" }
          DB_NAME:        sift
          UPLOADS_BUCKET: !Ref UploadsBucket
          AWS_REGION_NAME: !Ref AWS::Region
      Policies:
        - AWSLambdaBasicExecutionRole
        - !Sub arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess
        - Statement:
            - Effect: Allow
              Action: secretsmanager:GetSecretValue
              Resource: !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }

  ChunkTextFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub sift-chunk-${Env}
      CodeUri: ../backend/pipeline/chunk/
      Handler: chunk_handler.handler
      Runtime: python3.12
      Architectures: [x86_64]
      MemorySize: 512
      Timeout: 60
      Layers: [!Ref PipelineSharedLayer]
      Environment:
        Variables:
          AWS_REGION_NAME: !Ref AWS::Region

  EmbedChunkFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub sift-embed-${Env}
      CodeUri: ../backend/pipeline/embed/
      Handler: embed_handler.handler
      Runtime: python3.12
      Architectures: [x86_64]
      MemorySize: 512
      Timeout: 60
      Layers: [!Ref PipelineSharedLayer]
      Environment:
        Variables:
          DB_SECRET_ARN:   !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
          DB_HOST:         !ImportValue { Fn::Sub: "sift-${Env}-DBEndpoint" }
          DB_PORT:         !ImportValue { Fn::Sub: "sift-${Env}-DBPort" }
          DB_NAME:         sift
          AWS_REGION_NAME: !Ref AWS::Region
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action: secretsmanager:GetSecretValue
              Resource: !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
            - Effect: Allow
              Action: bedrock:InvokeModel
              Resource: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/amazon.titan-embed-text-v2:0

  ExtractMetadataFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub sift-metadata-${Env}
      CodeUri: ../backend/pipeline/metadata/
      Handler: metadata_handler.handler
      Runtime: python3.12
      Architectures: [x86_64]
      MemorySize: 512
      Timeout: 60
      Layers: [!Ref PipelineSharedLayer]
      Environment:
        Variables:
          DB_SECRET_ARN:   !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
          DB_HOST:         !ImportValue { Fn::Sub: "sift-${Env}-DBEndpoint" }
          DB_PORT:         !ImportValue { Fn::Sub: "sift-${Env}-DBPort" }
          DB_NAME:         sift
          AWS_REGION_NAME: !Ref AWS::Region
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action: secretsmanager:GetSecretValue
              Resource: !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
            - Effect: Allow
              Action: bedrock:InvokeModel
              Resource: !Sub arn:aws:bedrock:${AWS::Region}::foundation-model/us.anthropic.claude-haiku-4-5-20251001-v1:0

  MarkReadyFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub sift-mark-ready-${Env}
      CodeUri: ../backend/pipeline/mark_ready/
      Handler: mark_ready_handler.handler
      Runtime: python3.12
      Architectures: [x86_64]
      MemorySize: 256
      Timeout: 30
      Layers: [!Ref PipelineSharedLayer]
      Environment:
        Variables:
          DB_SECRET_ARN:   !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
          DB_HOST:         !ImportValue { Fn::Sub: "sift-${Env}-DBEndpoint" }
          DB_PORT:         !ImportValue { Fn::Sub: "sift-${Env}-DBPort" }
          DB_NAME:         sift
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action: secretsmanager:GetSecretValue
              Resource: !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }

  MarkFailedFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub sift-mark-failed-${Env}
      CodeUri: ../backend/pipeline/mark_failed/
      Handler: mark_failed_handler.handler
      Runtime: python3.12
      Architectures: [x86_64]
      MemorySize: 256
      Timeout: 30
      Layers: [!Ref PipelineSharedLayer]
      Environment:
        Variables:
          DB_SECRET_ARN:   !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }
          DB_HOST:         !ImportValue { Fn::Sub: "sift-${Env}-DBEndpoint" }
          DB_PORT:         !ImportValue { Fn::Sub: "sift-${Env}-DBPort" }
          DB_NAME:         sift
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Effect: Allow
              Action: secretsmanager:GetSecretValue
              Resource: !ImportValue { Fn::Sub: "sift-${Env}-DBSecretArn" }

  # ── Step Functions State Machine ─────────────────────────────────────────────

  PipelineStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub sift-pipeline-sfn-${Env}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokePipelineLambdas
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt ExtractTextFunction.Arn
                  - !GetAtt ChunkTextFunction.Arn
                  - !GetAtt EmbedChunkFunction.Arn
                  - !GetAtt ExtractMetadataFunction.Arn
                  - !GetAtt MarkReadyFunction.Arn
                  - !GetAtt MarkFailedFunction.Arn

  PipelineStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub sift-pipeline-${Env}
      Type: EXPRESS
      Role: !GetAtt PipelineStateMachineRole.Arn
      Definition:
        Comment: Sift document ingestion pipeline
        StartAt: ExtractText
        States:
          ExtractText:
            Type: Task
            Resource: !GetAtt ExtractTextFunction.Arn
            Retry:
              - ErrorEquals: [States.TaskFailed]
                IntervalSeconds: 2
                MaxAttempts: 2
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: MarkFailed
            Next: ChunkText

          ChunkText:
            Type: Task
            Resource: !GetAtt ChunkTextFunction.Arn
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: MarkFailed
            Next: GenerateEmbeddings

          GenerateEmbeddings:
            Type: Map
            ItemsPath: $.chunks
            Parameters:
              documentId.$: $.documentId
              tenantId.$:   $.tenantId
              index.$:      $$.Map.Item.Value.index
              content.$:    $$.Map.Item.Value.content
            MaxConcurrency: 5
            ResultPath: $.embeddingResults
            Iterator:
              StartAt: EmbedChunk
              States:
                EmbedChunk:
                  Type: Task
                  Resource: !GetAtt EmbedChunkFunction.Arn
                  Retry:
                    - ErrorEquals: [States.TaskFailed]
                      IntervalSeconds: 2
                      MaxAttempts: 3
                  End: true
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: MarkFailed
            Next: ExtractMetadata

          ExtractMetadata:
            Type: Task
            Resource: !GetAtt ExtractMetadataFunction.Arn
            Catch:
              - ErrorEquals: [States.ALL]
                ResultPath: $.error
                Next: MarkFailed
            Next: MarkReady

          MarkReady:
            Type: Task
            Resource: !GetAtt MarkReadyFunction.Arn
            End: true

          MarkFailed:
            Type: Task
            Resource: !GetAtt MarkFailedFunction.Arn
            End: true

  # ── EventBridge: S3 upload → Step Functions ───────────────────────────────────

  EventBridgeToSfnRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub sift-eventbridge-sfn-${Env}
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartPipelineExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref PipelineStateMachine

  S3UploadRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub sift-s3-upload-${Env}
      Description: Trigger document pipeline on S3 object created
      EventPattern:
        source: [aws.s3]
        detail-type: [Object Created]
        detail:
          bucket:
            name: [!Ref UploadsBucket]
      Targets:
        - Id: TriggerPipeline
          Arn: !Ref PipelineStateMachine
          RoleArn: !GetAtt EventBridgeToSfnRole.Arn
          InputTransformer:
            InputPathsMap:
              key:    "$.detail.object.key"
              bucket: "$.detail.bucket.name"
            InputTemplate: '{"s3Key": "<key>", "bucketName": "<bucket>"}'

Outputs:
  ApiUrl:
    Value: !Sub https://${HttpApi}.execute-api.${AWS::Region}.amazonaws.com/${Env}
    Export:
      Name: !Sub sift-${Env}-ApiUrl
  UploadsBucketName:
    Value: !Ref UploadsBucket
    Export:
      Name: !Sub sift-${Env}-UploadsBucket
  PipelineStateMachineArn:
    Value: !Ref PipelineStateMachine
    Export:
      Name: !Sub sift-${Env}-PipelineArn
